<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>
<body>
  <div class="wrapper">
    <div class="body-wrapper">
      <%- include('../partials/nav.ejs'); %>
        <%- include('../partials/header.ejs'); %>
          <div class="content-wrapper">
            <div class="component">
              <div class="general-content">
                <h4>What is your Sandbox instance?</h4>
                <p>Enter a single sandbox instance name - e.g. CS87 - 
                  or multiple sandboxes separated by a character such as a 
                  space, comma, semi-colon or pipe - e.g. [&nbsp;cs87 cs88,cs339;usa952s|usa954s&nbsp;]</p>
                <form action="/query" type="GET" class="form-primary">
                  <% if (locals.errors) { %>
                    <input class="form-error-msg" name="org_id" id="org_id" placeholder="" type="text" autocomplete="off" autofocus required />
                    <input type="submit" class="button" value="submit" />
                    <% errors.forEach(function(r) { %>
                      <br/><br/><label for="org_id" style="color: red;"><%= r %></label>
                  <% }); %>
                  <% } else { %>
                    <input name="org_id" id="org_id" placeholder="Enter one or more sandbox instance names" type="text" autocomplete="off" autofocus required />
                    <input type="submit" class="button" value="submit" />
                  <% }; %>
                </form>
                <p>&nbsp;</p>
                <h4>Unsure of your Sandbox Instance?</h4>
                <p>To determine which instance your Sandbox is on, log into your production org and navigate to your Sandbox
                  List page (Search "Sandbox" in the Quick Find bar on the Setup Home Page).</p>
                <img src="/images/listpage.png" alt="list page" />
                <p>Your sandbox instance is listed in the
                  <strong>Location</strong> column above.</p>
              </div>
              <div class="divider"></div>
              <%- include('../partials/helpful-links.ejs'); %>
            </div>
          </div>
    </div>
    <%- include('../partials/footer.ejs'); %>
    <%- include('../partials/script_section.ejs'); %>
  </div>
</body>
</html>