<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
  <div class="wrapper">
    <div class="body-wrapper">
      <% include ../partials/nav.ejs %>
      <% include ../partials/header.ejs %>
      <div class="upgrade-content">
        <div class="instance-display-site" style="margin-top:-40px">
          <div class="release-name-block">
            <p class="instance-header" style="color: black;">Your Sandbox Inquiry Results</p>
          </div>
        </div>
        <div class="content-wrapper">
          <div class="sandbox-table">
            <table>
              <tr>
                <th class="sandbox-table-col-header">Instance</th>
                <th class="sandbox-table-col-header">Instance Type</th>
                <th class="sandbox-table-col-header">Release</th>
                <th class="sandbox-table-col-header">Trust Info</th>
              </tr>
              <% results.forEach(function(r) { %>
              <tr>
                <td class="sandbox-table-col-data">
                  <%= r.org_id  %>
                </td>
                <td class="sandbox-table-col-data">
                  <%= r.org_type  %>
                </td>
                <td class="sandbox-table-col-data">
                  <%= r.external_rel_name  %>
                </td>
                <td class="sandbox-table-col-data">
                  <a target="_blank" href="https://status.salesforce.com/instances/<%= r.org_id  %>/maintenances">Maintenance
                    Schedule</a>
                </td>
              </tr>
              <% }); %>  
            </table>
          </div>
          <% if (locals.errors) { %>
          <div style="margin: -10px 0px 10px 0px;">
            <% errors.forEach(function(r) { %>
            <label for="sandbox-table" style="color: red;">
              <%= r %></label>
            <% }); %>
          </div>
          <% }; %>
          <div class="content-wrapper">
            <h4>What would you like to do with your sandbox?
            </h4>
            
              <p class="upgrade-option" id="upgrade">Upgrade to Spring '22
                <br />by January 7, 2022</p>
              <div class="component upgrade-info" id="upgrade">
                <p><u><strong>Preview</strong> sandbox:</u></p>
                <p>
                  <strong>No action is needed</strong> as your Sandbox is already on a Preview Instance</p>
                <p>If you need to refresh for other reasons, do so well in advance of <strong>January 7, 2022</strong> to make 
                  sure your Sandbox completes before <strong>6:00 p.m. PT on January 6, 2022 (02:00 UTC on January 7, 2022)</strong>. 
                  If you refresh after the deadline or your Sandbox doesn't complete in time, it will be built 
                  on a Non-Preview Instance.</p>

                <p><u><strong>Non-Preview</strong> sandbox:</u></p>  
                <p>To get the preview, we require you to refresh to a Sandbox instance that will be upgraded early
                  to Spring '22.
                </p>
                <p>
                  <strong>Please refresh well in advance of January 7, 2022</strong>. If you refresh after 
                  <strong>6:00 p.m. PT on January 6, 2022 (02:00 UTC on January 7, 2022)</strong> 
                  or your Sandbox doesn't complete in time, it will be built on a Non-Preview instance.
                </p>
              </div>
              <!-- END -->
              <p class="upgrade-option" id="stay">Stay on Winter '22
                <br />until February 14, 2022</p>
              <div class="component upgrade-info" id="stay">
                <p><u><strong>Preview</strong> sandbox:</u></p>
                <p>To stay on Winter '22, we require you to refresh to a Non-Preview Sandbox Instance.</p>
                <p><strong>Please wait and refresh after 6:00 p.m. PT on January 6, 2022 
                  (02:00 UTC on January 7, 2022).</strong> If you refresh before this time, 
                  your Sandbox may be built on a Preview Instance.</p>
                <p><u><strong>Non-Preview</strong> sandbox:</u></p>  
                <p>
                  <strong>No action is needed</strong> as your Sandbox is already on a Non-Preview Instance</p>
                <p>If you need to refresh for other reasons, please wait and refresh after <strong>6:00 p.m. PT on January 6, 2022
                   (02:00 UTC on January 7, 2022)</strong> to remain on a Non-Preview Instance.</p>
              </div>
              <p class="large">
                <strong>Note: </strong> All production and sandbox environments will be upgraded to Spring&nbsp;'22 by February&nbsp;14,&nbsp;2022.
              </p>
          <div class="component">
            <div class="divider"></div>
            <% include ../partials/helpful-links.ejs %>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
      <% include ../partials/script_section.ejs %>
    </div>
</body>

</html>